<template>
    <ModPage id="cookingforblockheads">
        <h1>Cooking for Blockheads</h1>
        <p>

        </p>
    </ModPage>
</template>

<script>
    import ModPage from "./ModPage";
    export default {
        name: "CookingForBlockheads",
        components: {ModPage}
    }
</script>

<style scoped>

</style>
