<template>
    <div>
        <h1>{{ title }}</h1>
        <p>
            
        </p>
    </div>
</template>

<script>
    export default {
        name: "ModPage",
        props: {
            id: String
        }
    }
</script>

<style scoped>

</style>
