<template>
    <div class="home">
        <h1>{{$t('faq.headline')}}</h1>
        <ul>
            <template v-for="faq in $t('faq.questions')">
                <li :key="faq.question" class="mb-2">
                    {{ faq.question }}
                    <template v-if="faq.answer_html">
                        <div v-html="faq.answer_html"></div>
                    </template>
                    <template v-else>
                        <div>{{ faq.answer }}</div>
                    </template>
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'home',
        components: {}
    }
</script>
