<template>
    <div class="home">
        <h1>Modding for Blockheads</h1>
        <div class="d-flex justify-content-center">
            <Pagination v-model="currentPage" :pageCount="pageCount"/>
        </div>
        <div class="row">
            <template v-for="mod in pagedMods">
                <div class="col-4 mb-3" :key="mod.slug">
                    <Modcard class="h-100" :slug="mod.slug" :name="mod.name">{{ mod.tagline }}</Modcard>
                </div>
            </template>
        </div>
        <div class="d-flex justify-content-center">
            <Pagination v-model="currentPage" :pageCount="pageCount"/>
        </div>
    </div>
</template>

<script>
    import Modcard from '../components/Modcard.vue'
    import Pagination from "./Pagination";
    import mods from "../data/mods"

    export default {
        name: 'home',
        components: {
            Pagination,
            Modcard
        },
        data() {
            return {
                currentPage: 1,
                pageSize: 6,
                mods: Object.values(mods)
            }
        },
        computed: {
            pageCount() {
                return Math.ceil(this.mods.length / this.pageSize);
            },
            pagedMods() {
                let startIndex = (this.currentPage - 1) * this.pageSize;
                return this.mods.slice(startIndex, startIndex + this.pageSize);
            }
        }
    }
</script>
