<template>
    <nav v-if="pageCount">
        <ul class="pagination">
            <li :class="['page-item', value <= 1 ? 'disabled' : null]"><a class="page-link" href="#" @click.prevent="$emit('input', value - 1)">{{ $t('pagination.previous') }}</a></li>
            <li class="page-item" v-for="i in pageCount" :key="i">
                <a class="page-link" href="#" @click.prevent="$emit('input', i)">{{ i }}</a>
            </li>
            <li :class="['page-item', value >= pageCount ? 'disabled' : null]"><a class="page-link" href="#" @click.prevent="$emit('input', value + 1)">{{ $t('pagination.next') }}</a></li>
        </ul>
    </nav>
</template>
<script>
    export default {
        name: "Pagination",
        props: {
            value: Number,
            pageCount: Number
        }
    }
</script>
