<template>
    <div class="home">
        <h1>{{ $t('porting.headline') }}</h1>
        {{ $t('porting.status') }}
        <h2 class="mt-3">{{ $t('porting.overallProgress')}}</h2>
        <strong>{{ $t('porting.stats') }}</strong>
        <ul class="mt-2">
            <li>{{ $t('porting.modsDone', [modsDone.length]) }}</li>
            <li>{{ $t('porting.modsInProgress', [modsInProgress.length]) }}</li>
            <li>{{ $t('porting.modsPlanned', [modsPlanned.length]) }}</li>
        </ul>
        <strong>{{ $t('porting.estimatedProgress') }}</strong>
        <div class="progress mt-2 mb-4">
            <div class="progress-bar" role="progressbar" :style="{width: portingProgress + '%'}">
                {{ portingProgress }}%
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ $t('porting.modsDoneHeadline') }}</h5>
                        <ul>
                            <template v-for="mod in modsDone">
                                <li :key="mod.slug">
                                    <router-link :to="'/mods/' + mod.slug">{{ mod.name }}</router-link>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ $t('porting.modsInProgressHeadline') }}</h5>
                        <ul>
                            <template v-for="mod in modsInProgress">
                                <li :key="mod.slug">
                                    <router-link :to="'/mods/' + mod.slug">{{ mod.name }}</router-link>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ $t('porting.modsPlannedHeadline') }}</h5>
                        <ul>
                            <template v-for="mod in modsPlanned">
                                <li :key="mod.slug">
                                    <router-link :to="'/mods/' + mod.slug">{{ mod.name }}</router-link>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import mods from "../data/mods.js"

    export default {
        name: 'home',
        components: {},
        data() {
            return {
                modsDone: Object.values(mods).filter(it => it.porting === 'DONE'),
                modsInProgress: Object.values(mods).filter(it => it.porting === 'IN_PROGRESS'),
                modsPlanned: Object.values(mods).filter(it => it.porting === 'PLANNED'),
            }
        },
        computed: {
            totalMods() {
                return this.modsDone.length + this.modsInProgress.length + this.modsPlanned.length;
            },
            portingProgress() {
                return (this.modsDone.length / this.totalMods * 100).toFixed(0);
            }
        }
    }
</script>
