<template>
    <div class="card" style="width: 19rem;">
        <img class="card-img-top" :src="imagePath" :alt="'Logo for ' + name">
        <div class="card-body d-flex flex-column">
            <div class="mb-3">
                <h5 class="card-title">{{ name }}</h5>
                <p class="card-text">
                    <slot/>
                </p>
            </div>
            <div class="mt-auto">
                <a :href="'https://www.curseforge.com/minecraft/mc-mods/' + slug"
                   class="btn btn-primary mr-2">Download</a>
                <router-link :to="'/docs/' + slug" class="btn btn-secondary">Documentation</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modcard",
        props: {
            slug: String,
            name: String
        },
        computed: {
            "imagePath": function () {
                return require("../assets/mods/" + this.slug + ".png")
            }
        }
    }
</script>

<style scoped>

</style>
