<template>
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <router-link to="/" class="navbar-brand"><img src="../assets/logo.png"></router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">Overview</router-link>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Blocks
                        </a>
                        <div class="dropdown-menu">
                            <router-link class="dropdown-item" to="/">Wooden Crucible</router-link>
                            <router-link class="dropdown-item" to="/">Heavy Sieve</router-link>
                            <router-link class="dropdown-item" to="/">Auto Sieve</router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Tools
                        </a>
                        <div class="dropdown-menu">
                            <router-link class="dropdown-item" to="/">Compressed Hammer</router-link>
                            <router-link class="dropdown-item" to="/">Compressed Crook</router-link>
                            <router-link class="dropdown-item" to="/">Ore Smasher</router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Items
                        </a>
                        <div class="dropdown-menu">
                            <router-link class="dropdown-item" to="/">Wood Chippings</router-link>
                            <router-link class="dropdown-item" to="/">Bait</router-link>
                            <router-link class="dropdown-item" to="/">Iron Mesh</router-link>
                        </div>
                    </li>
                    <li class="nav-item ml-5">
                        <router-link class="nav-link" to="/porting">Porting Status</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/faq">FAQ</router-link>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
