<template>
    <div id="app">
        <Navbar class="mt-5 mb-3"/>
        <div class="container">
            <div class="page-border rounded-top"></div>
            <div class="content">
                <router-view/>
            </div>
            <div class="page-border rounded-bottom pt-2">
                <a class="float-right mr-4" :href="repository">
                    {{ $t('general.contribute') }}
                </a>
            </div>
            <div class="social float-right">
                <ul>
                    <li v-if="social.twitterUrl">
                        <a :href="social.twitterUrl">
                            <img src="./assets/twitter_logo.png" alt="Twitter">
                        </a>
                    </li>
                    <li v-if="social.patreonUrl">
                        <a :href="social.patreonUrl">
                            <img src="./assets/patreon_logo.png" alt="Patreon">
                        </a>
                    </li>
                    <li v-if="social.githubUrl">
                        <a :href="social.githubUrl">
                            <img src="./assets/github_logo.png" alt="GitHub">
                        </a>
                    </li>
                    <li v-if="social.twitchUrl">
                        <a :href="social.twitchUrl">
                            <img src="./assets/twitch_logo.png" alt="Twitch">
                        </a>
                    </li>
                    <li v-if="social.youtubeUrl">
                        <a :href="social.youtubeUrl">
                            <img src="./assets/youtube_logo.png" alt="YouTube">
                        </a>
                    </li>
                    <li v-if="social.discordUrl">
                        <a :href="social.discordUrl">
                            <img src="./assets/discord_logo.png" alt="Discord">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from './components/Navbar.vue'
    import basic from "./data/basic.js"

    export default {
        name: "App",
        components: {
            Navbar
        },
        data() {
            return {
                repository: basic.repository,
                social: basic.social
            }
        }
    }
</script>

<style>
    body {
        background-color: #eeeeee;
    }

    .page-border {
        background-color: #99ccff;
        height: 40px;
    }

    .social {
        margin: 0;
        padding: 0;
    }

    .social ul {
        margin: 0;
        padding: 5px;
    }

    .social ul li {
        margin: 5px;
        list-style: none outside none;
        display: inline-block;
    }

    .social img {
        width: 32px;
        height: 32px;
        opacity: 0.6;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
    }

    .social img:hover {
        opacity: 1;
    }

    .content {
        background-color: #e6f2ff;
        padding: 5px 20px;
    }
</style>
